*{
    font-family: "Outfit", sans-serif;
    
    
}

body {
    background-color:   hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 710px;
    
}

header {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

header img {
    margin: 0 auto;

    width: 600px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
header strong {
    margin-left: 50px;
    font-size: 20px;
}
header p {
    margin-left: 30px;
    margin-right: 30px;
}

#pretime {
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
    height: 180px;
    
}

#pretitle {
    color: hsl(332, 51%, 32%);
    margin-left: 30px;
    
    
}

#prelist {
    margin-left: 30px;
}

#prelist li {
    padding: 5px 0;
}

.title {
    color: hsl(14, 45%, 36%);
}

.listan li {
    padding: 5px 0; /* espaçamento */
    
}

.listan li::marker {
    color: hsl(14, 45%, 36%);
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-right: 30px;

}

.nutri-table {             
  border-collapse: collapse;  /* Remove espaços internos da table */
  font-size: 14px;            /* Tamanho do texto */
}

.nutri-table tr {
  border-bottom: 1px solid #e0e0e0; /* Linha separadora igual ao exemplo */
}

.nutri-table td {
  padding: 12px 0;           /* Espaçamento vertical entre linhas */
  color: #5c524a;            /* Cor opcional (ajuste se quiser) */
}

.nutri-table td:nth-child(2) {
  font-weight: 700;          /* Deixa o valor em negrito */
  color: #8b4a35;            /* Cor marrom usada no exemplo */
}




